
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}

section{
    height: 100vh;

}

.slider-container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}


.left-slide{
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease-in-out;

}
/*100% width von left-slide width which has 35% from the screen*/
.left-slide > div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.left-slide{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -30px;
}

.right-slide{
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform .5s ease-in-out;
}

.right-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

.slider-container .action-Buttons{
    position: absolute;
    left: 25%;
    top: 50%;
    z-index: 100;
    border: none;

}

.slider-container .action-Buttons button{
    color: white;
    width: 80px;
    height: 100px;
}

.slider-container .action-Buttons button:hover{
    color: black;
}

.slider-container .action-Buttons .down{
    transform: translateX(100);
}

.slider-container .action-Buttons .up{
    transform: translateY(-100%);
}