* {
    margin: 2px;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    background-image: radial-gradient(#ececec, #8ed7d3, #50abc9, #35778c);
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav {
    text-transform: uppercase;
    text-decoration: none;
}

#mylogo {
    transition: ease-in-out;
}

#mylogo:hover {
    transform: rotate(-180deg);
}

.nav li {
    display: inline-block;
}

.nav li a {
    cursor: pointer;
    color: black;
    text-decoration: none;
    margin: 0 3rem;
    padding: 1rem;
}

.nav li a:hover {
    background: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 1rem;
}

.nav-burger {
    display: none;
}

.burger-line {
    width: 25px;
    height: 4px;
    background-color: white;
    margin-bottom: 5px;

}

.container {
    position: relative;
}

@media all and (max-width: 900px) {
    .header {
        flex-direction: column;
    }

    .nav-burger {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .nav li{
        width: 100%;
        text-align: center;
        padding: 5px;
        display: none;
    }
    .active{
    display: block;
    }
}