* {
    margin: 1px;
    padding: 0;
}

/*basic style*/
body {
    font-family: Roboto, sans-serif;
    font-size: 15px;

    background-image: radial-gradient(#ececec, #8ed7d3, #50abc9, #35778c);
    min-height: 100vh;
    margin: 0;
}

button {
    border: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px 25px;
    border-radius: 20px;
    transition: 1s ease-in-out;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.08);
}

/*navigation*/
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999;
    /*    hab auf der gallery seite index auf Img slider , test deswegen so hoch*/
}

.nav {
    text-transform: uppercase;
    text-decoration: none;
}

#mylogo {
    transition: all 1s ease-in;
}

#mylogo:hover {
    transform: rotate(-180deg);
}

.nav li {
    display: inline-block;
    /*    wenn ich das weg nehme springt alles für sich wieder in eine reihe */
}

.nav li a {
    cursor: pointer;
    color: black;
    text-decoration: none;
    margin: 0 20px;
    padding: 20px;
}

.nav li a:hover {
    background: rgba(255, 255, 255, 0.5);
    color: #35778c;
    padding: 20px;
    border-radius: 5px;
}

.nav-burger {
    display: none;
    cursor: pointer;
}

.burger-line {
    width: 25px;
    height: 4px;
    background-color: white;
    margin-bottom: 5px;
}

/*Mein Bild und Text fade in und positioniere ich alles in die Mitte*/
/*auf container1 rufe ich die animation auf die ich im Keyframe gesetzt habe  */
.container1 {
    position: relative;
    display: flex;
    animation: fadein 5s;
}

.container1 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 40px 0;
}

.container1 .content h1 {
    margin-top: 40px;
}

.container1 .content h1 span {
    color: #35778c;
}

.container1 .content p {
    width: 40%;
    text-align: center;
    font-size: 20px;
    padding: 40px 0;
}

.container1 .content h2 {
    background-color: #8ed7d3;
    font-size: 20px;
}

/* MY Bild style Fade in , hier rufe ich die animation nochmals auf -längere animation  */
#vsart {
    width: 300px;
    height: 300px;
    border-radius: 250px;
    border: 20px solid rgba(255, 255, 255, 0.4);
    animation: fadein 7s ease-in;
}

/*beim laden der seite ist die opacity 0 und innerhalb von 5 sec wandert opacity auf 1*/
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*socialmedia on hover transform scale*/
.sozialmedia img {
    width: 40px;
    height: auto;
    margin-top: 20px;

}

.sozialmedia img:hover {
    transform: scale(1.1);
}

/*Interessen , skills */
.skills {
    display: flex;
    justify-content: flex-end;
    padding-top: 100px;
}

.skills section {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.skills img {
    width: 30rem;
    height: 20rem;
    transition: 2s ease-in-out;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.45);
}

.skills img:hover {
    transform: scale(0.9);
}

.skills h2, .contact h2 {
    margin-top: 20px;
    font-family: "Open Sans";
    color: #35778c;
}

.skills p {
    padding: 20px 50px;
}

/*Kontaktformular*/

.contact {
    margin: 50px 200px;
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

h2 span {
 background-color: rgba(53, 119, 140, 0.71);
    color: white !important;
    padding: 10px;
}

input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    border: 1px solid white;
}

textarea {
    font-family: Roboto, sans-serif;
    position: relative;
    width: 100%;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 5px;
    margin: 5px auto;
    border: 1px solid white;

}

#btn-submit {
    margin: 20px;
    color: green;
}

/*untere Fuszeile */
.footer {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.4);

}

.footer p {
    align-content: center;
    text-align: center;
    padding-top: 10px;
}

/*responsive , für mobile und tablet - navigation und layout*/
@media all and (max-width: 1000px) {
    .header {
        flex-direction: column;
    }

    .nav-burger {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .nav {
        width: 100%;
        text-align: center;
        padding: 10px;
        display: none;
        font-size: 40px;

    }

    .nav li {
        display: block;
        margin: 60px 0;
    }

    .active {
        display: block;
        position: absolute;
        top: 100px;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        height: 500px;

    }

    .container1 .content p {
        width: 100%;
    }

    .skills {
        flex-direction: column;
        justify-content: center;
    }

    .skills img {
        max-width: 100%;
        height: auto;
    }

    .skills p {
        padding: 20px 50px;
    }

    .skills button {
        margin-bottom: 50px;
    }

    .contact {
        margin: 20px 0;
    }
}